<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Yii2 REST API Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="YII_ENV" value="test"/>
        <env name="YII_DEBUG" value="1"/>
    </php>
</phpunit>
